
body{
  font-family: 'Josefin Sans', sans-serif;
  background-color: whitesmoke;
}

.App {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-checkbox {
  appearance: none;
  background-color: white;
  border: 1px solid gray;
  padding: 10px;
  border-radius: 100%;
}

.form-text{
  padding: 5px;
  border-radius: 3px;
  border: none;
  width: 90%;
  background-color: white;
  font-size: 1.2em;
}

.form-text:focus{
  appearance: none;
  outline: none;
}

.form-container{
  width: 90%;
  max-width: 500px;
}

.form{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  padding: 18px;
  background-color: white;
  border-radius: 8px;
}


.count{
  padding: 4px 8px;
  background-color: black;
  color: aliceblue;
  border-radius: 50%;
}

.app-title{
  font-weight: bold;
  font-size: 2.6em;
  letter-spacing: .5em;
  color: white;
  text-transform: uppercase;
  text-align: left;
  width: 100%;
  padding-top: 1.1em;
  padding-bottom: .3em;
}

.list-container{
  margin-top: 25px;
  width: 90%;
  max-width: 500px;
  background-color: white;
  border-radius: 8px;
}


.list-item{
  padding: 1.3em;
  text-align: left;
}

.text-count{
  padding: 1.3em;
}

.separator{
  border-top: 1px solid #eee;
}